<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>leejuno</title>
</head>
<body>
<header>
    <h1>이준오의 이력서</h1>
    <p>안녕하세요 이준오의 이력서 입니다.</p>
</header>
<hr>
<table class="tg">
    <thead>
    <tr>
        <th class="tg-9u18">No</th>
        <th class="tg-9u18">내용</th>
        <th class="tg-9u18">등록일</th>
        <th class="tg-9u18">작성자</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tg-baqh">1</td>
        <td class="tg-baqh"> <a href="/about">자기소개</a> </td>
        <td class="tg-baqh">2023-12-12</td>
        <td class="tg-baqh">이준오</td>
    </tr>
    <tr>
        <td class="tg-baqh">2</td>
        <td class="tg-baqh"> <a href="/about">경력</a> </td>
        <td class="tg-baqh">2023-12-12</td>
        <td class="tg-baqh">이준오</td>
    </tr>
    <tr>
        <td class="tg-baqh">3</td>
        <td class="tg-baqh"> <a href="/about">학력</a> </td>
        <td class="tg-baqh">2023-12-12</td>
        <td class="tg-baqh">이준오</td>
    </tr>
    <tr>
        <td class="tg-baqh">4</td>
        <td class="tg-baqh"> <a href="/about">프로젝트</a> </td>
        <td class="tg-baqh">2023-12-12</td>
        <td class="tg-baqh">이준오</td>
    </tr>
    </tbody>
</table>
</body>
</html>
