<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>leejuno</title>
</head>
<body>
<header>
    <h1>이준오의 이력서</h1>
    <p>안녕하세요 이준오의 이력서 입니다.</p>
</header>
<hr>
<button id="viewButton" onclick="loadDocArray()">이력서 보기</button>
<button id="hideButton" style="display:none;" onclick="hideDocArray()">이력서 접기</button>
<table class="tg">
    <thead>
    <tr>
        <th class="tg-9u18">No</th>
        <th class="tg-9u18" style="">내용</th>
        <th class="tg-9u18">등록일</th>
        <th class="tg-9u18">작성자</th>
    </tr>
    </thead>
    <tbody id="t_body">
   <!-- <tr>-->
<!--        <td class="tg-baqh">1</td>-->
<!--        <td class="tg-baqh"> <a href="/about">자기소개</a> </td>-->
<!--        <td class="tg-baqh">2023-12-12</td>-->
<!--        <td class="tg-baqh">이준오</td>-->
<!--    </tr> -->
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function loadDocArray() {
        $.ajax({
            url: "/list",
            type: "GET",
            dataType: "json",
            success: function(myAjax) {
                console.log(myAjax);
                /*JSON 데이터 넣기*/
                let ajaxTD = "";
                $.each(myAjax.contents, function(i, content) {
                    ajaxTD += '<tr>';
                    ajaxTD += '<td class="tg-baqh">' + content.no + '</td>';
                    ajaxTD += '<td class="tg-baqh"><a href="/about">' + content.title + '</a></td>';
                    ajaxTD += '<td class="tg-baqh">' + content.date + '</td>';
                    ajaxTD += '<td class="tg-baqh">' + content.writer + '</td>';
                    ajaxTD += '</tr>';
                });
                $("#t_body").html(ajaxTD);
                $("#viewButton").hide();  // "이력서보기" 버튼 감춤
                $("#hideButton").show();  // "이력서접기" 버튼 표시
            },
            error: function(xhr, textStatus, errorThrown) {
                console.error("Error fetching data:", textStatus, errorThrown);
            }
        });
    }

    function hideDocArray() {
        $("#t_body").html("");  // 테이블 내용을 비움
        $("#hideButton").hide();  // "이력서접기" 버튼 감춤
        $("#viewButton").show();  // "이력서보기" 버튼 표시
    }
</script>
</body>
</html>
